
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  color: #444444;
}

a {
  color: #efbfab;
  text-decoration: none;
}

a:hover {
  color: #efbfab;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/
main {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 0 5%;
}

@media (max-width: 991px) {
  main {
    width: 100%;
  }  
}

/*--------------------------------------------------------------
# Back to top button / Whatsapp
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: green;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: white;
  line-height: 0;
}

.back-to-top:hover {
  box-shadow: inset 0px 0px 10px 10px rgb(0 0 0 / 30%);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.5s;
  z-index: 997;
  height: 125px;
  margin: auto;
  text-align: center;
  width: 100%;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

@media (max-width: 991px) {
  #header {
    height: 60px;
  }  
  #header .logo img {
    max-height: 10%;
    position: fixed;
    left: 40%;
    width: 15% !important;
  }
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

#header .logo img {
  width: 10%;
  transition: opacity 500ms;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  justify-content: center;
  margin-bottom: 0 !important;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 22px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  font-family: 'Spartan', sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
  position: relative;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  transform: rotate(-90deg);
}

.navbar > ul > li > a:before { /* Linea subrayado*/
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #dc422c;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #3959bb;
  font-weight: bolder;
  font-size: 9px;
  text-decoration: none;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 22px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  color: black;
}

.navbar .dropdown ul a i {
  font-size: 10px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #3959bb;
  font-size: 10px;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  color: black;
  font-size: 40px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: black;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .navbar {
    justify-content: left;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(17, 17, 17, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #2a2a2a;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #3959bb;
}

.navbar-mobile > ul > li {
  white-space: nowrap;
  padding: 0;
}

.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #3959bb;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section -Slide/Carousel
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.8);
  overflow: hidden;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: 0.3;
}

#hero .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.3s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: .6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #ff4026;
}

@media (max-width: 768px) {
  #hero {
    height: 300px;
  }
  #hero .carousel-item {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: 0.3;
  }
}

@media (min-width: 1024px) {
  
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}


/*--------------------------------------------------------------
# productos
--------------------------------------------------------------*/

#productos {
  margin-top: 10%;
}

#productos .image {
  background: url("../img/QueEsArteParaLlevar.jpg") center center no-repeat;
  background-size: cover;
  min-height: 400px;
  border-radius: 20px;
}

#productos .image img {
  height: 35%;
  position: relative;
  top: 316px;
  right: 61px;
}

#productos .texto {
  padding-left: 13%;
}

#productos .content h3 {
  font-size: 32px;
  font-family: 'Spartan';
  text-align: initial;
  line-height: 1.5em;
  margin-bottom: 10%;
}

#productos .Mobile-titile {
  display: none;
}

#productos .content h4 {
  font-weight: bold;
  text-align: initial;
  font-size: 20px;
}

#productos .content p {
  text-align: initial;
  font-size: 20px;
}

#productos .btn-wrap a{
  color: black;
}

#productos .btn-wrap {
  padding: 10px 25px;
  border-radius: 12px;
  transition: 0.5s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 5px solid #ffbfab;
  background: #ffbfab;
  margin: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  margin-bottom: 0;
}

#productos .btn-wrap:hover {
  background: #3959bb;
  border: none;
}

#productos  .btn-wrap a:hover {
  color: #fff !important;
}

@media (max-width: 991px) {
  #productos .image {
    text-align: center;
  }

  #productos  .Mobile-titile{
    display: flex;
    font-family:  'Spartan';
  }

  #productos h3 {
    display: none;
  }  
    
  #productos .content h4 {
    font-size: 12px;
  }

  #productos .content p {
    font-size: 12px;
  }
 
  #productos .texto {
    padding: 5%;
  }

  #productos .image img {
    height: 22%;
    top: 330px;
    right: 160px;
  }

  #productos .btn-wrap a{
    width: inherit;
    justify-content: center;
    display: flex;
  }

  #productos .btn-wrap{
    width: 100%;
    padding: 10px;
  }   

}

@media (max-width: 667px) {
  #productos .image img {
    max-width: 100%;
  }
}


/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/

.about {
  margin: 10% 0;
}
 
.about .Mobile-titile {
  display: none;
}

.about .content h3 {
  font-size: 32px;
  font-family: 'Spartan';
  margin-bottom: 10%;
}

.about .content h4 {
  font-size: 20px;
  font-weight: 700;
}
   
.about .content h4 strong{
  color: #3959bb;
}
  
.about .content  p {
  font-size: 18px;
  color: #848484;
  margin-right: 60px;
  text-align: justify;
}

.about .image {
  background: url("../img/about.jpg") center center no-repeat;
  height: 400px;
  border-radius: 20px;
}

.about .image .puntos{
  height: 70%;
  position: relative;
  top: 215px;
  right: -210px;

}

@media (max-width: 991px) {
  
  .about .Mobile-titile {
    display: flex;
    font-family: 'Spartan';
  }
  .about h3{
    display: none;
  }
  .about .image {
    text-align: center;
    order: -1 ;
  }
  .about .image img {
    max-width: 80%;
  }
  .about .content {
    padding: 5%;
  }

  .about h4{
    font-size: 14px  !important;
    margin-right: 0% !important;
  }

  .about p {
    font-size: 14px  !important;
    margin-right: 0% !important;
  }

  .about .puntos {
    display: none;
  }
}

@media (max-width: 667px) {
  .about .image img {
    max-width: 100%;
  }
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .estrellas {
  margin-bottom: -60px;
  margin-left: -50px;
}

.contact .estrellas img{
  width: 120px;
}

.contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

.contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #FFBFAB;
}

.contact .contact-info address, .contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

.contact .contact-info h3 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
}

.contact .contact-info a {
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.contact .contact-info a:hover {
  color: #3959bb;
  letter-spacing: 1px;
}

.contact .contact-address, .contact .contact-phone, .contact .contact-email {
  margin-bottom: 20px;
}



@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .contact .contact-phone {
    border-left: 4px solid #ffbfab;
    border-right: 4px solid #ffbfab;
  }
  .contact .contact-address, .contact .contact-phone, .contact .contact-email {
    padding: 20px 0;
  }
}

@media (max-width: 991px) {
  .contact {
    display: none;
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #efbfab;
  padding: 30px 0;
  color: black;
  font-size: 14px;
}

#footer .logoFooterMobile {
  display: none;
}

#footer .logoFooter img {
  height: 130px;
  padding: 10px;
}
#footer .container {
  display: flex; 
  justify-content: space-between;
  align-items: center
}

#footer .socialMedia {
  justify-content: flex-end; 
  display: flex;
}


@media (max-width: 991px) {

  #footer .logoFooterMobile {
    width: 30%;
    display: flex;
    margin: auto;
    margin-bottom: 2%;
  }
    #footer .logoFooter {
    display: none;
  }
  #footer .container {
    justify-content: space-around;
    align-items: center
  }

  #footer .socialMedia {
    display: block !important;
  }

  #footer .socialMedia  a{
    font-size: smaller;
  }

  #footer .footer-top .footer-info h3 {
    font-size: 18px  !important;
    margin: 0 0 10px 0  !important;
  }

  #footer .footer-top .social-links i {
    padding-right: 10px !important;
    font-size: 16px !important;
  }
}

#footer .footer-top .footer-links a {
  color: #000;
}

#footer .footer-top .footer-links a:hover {
  color: #3959bb;
  letter-spacing: 1px;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .social-links li {
  list-style: none;
}

#footer .footer-top .social-links a {
  color: #000;
  transition: 0.3s;
  font-family: 'Poppins';
}

#footer .footer-top .social-links i {
  padding-right: 20px;
  padding-bottom: 15px;
  font-size: 26px;
}

#footer .footer-top .social-links a:hover {
  color: #3959bb;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #2a2a2a;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

/* Copyright */

#footer .footerContainer {
  position: relative;
  height: 50px;
  width: 100%; 
}

#footer .copyright {
  position: absolute;
  width: 100%;
  color: #8b8b8b;
  line-height: 40px;
  font-size: 0.8em;
  text-align: center;
  bottom:0;
}

#footer .copyright strong {
  color: #3959bb;
}


/** PRODUCTOS PAGE **/


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
#breadcrumb {
  margin-top: 16%;
  justify-content: flex-end;
  display: flex;
}

#breadcrumb a {
  color: #8b8b8b;
}

#breadcrumb .active {
  color: #ff4026;
  font-weight: 600;
}


@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio .texto strong {
  color: #3959bb;
}

.portfolio .estrellas {
  position: relative;
  right: 200px;
  width: 17%;
  margin-bottom: -110px;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #ffbfab;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(42, 42, 42, 0.7);
  border-radius: 15px;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(59, 39, 223, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
  border-radius: 15px;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #FFBFAB;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
  border-radius: 20px;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}




/*--------------------------------------------------------------
# CollageGo
--------------------------------------------------------------*/

@media (min-width: 991px) {
  #collageGo .collagetexto {
    display: none;
  }
}

#collageGo .texto strong {
  color: #3959bb;
  font-weight: bold;
  padding-right: 5px;
}

#collageGo .texto p {
  color: #8b8b8b;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 1px;
}
 

.collageGo .content h3 {
  font-size: 32px;
  font-family: 'Spartan';
  margin-bottom: 10%;
}

.collageGo .content h4 {
  font-size: 20px;
  font-weight: 700;  
  text-align: justify;
}
  
.collageGo .content  p {
  font-size: 18px;
  color: #848484;
  text-align: justify;
}


.collageGo .content .price {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  margin-right: 60px;
}

@media (max-width: 991px) {
  #collageGo h3 {
    display: none;
  } 
  #collageGo .texto {
    margin-top: 20%;
    justify-content: center;
    display: flex;
  }  

  #collageGo .collagetexto {
    font-size: 32px;
    font-family: 'Spartan';
    margin-bottom: 10%;
  }

  .collageGo .content h4 {
    font-weight: 700;
    font-size: small;
    margin-top: 10%;
  }

  .collageGo .content  p {
    margin-right: 0; 
    font-size: small; 
  }
}

/* --------- CAROUSEL --------- */


@media (max-width: 991px) {
  #portfolioCarousel {
    order: -1;
  } 
}

#portfolioCarousel .show {
  width: 400px;
  height: 400px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

#portfolioCarousel .small-img {
  width: 350px;
  height: 70px;
  margin-top: 20px;
  position: relative;
  /* left: 25px; */
}

#portfolioCarousel .small-img .icon-left, .small-img .icon-right {
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

#portfolioCarousel .small-img .icon-left { transform: rotate(180deg) }

#portfolioCarousel .small-img .icon-right { right: 0; }

#portfolioCarousel .small-img .icon-left:hover, .small-img .icon-right:hover { opacity: .5; }

#portfolioCarousel .small-container {
  width: 310px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*Pack Go*/
#portfolioCarousel .packGo {
  width: 140px;
}
#portfolioCarousel .small-container div {
  width: 800%;
  position: relative;
}

#portfolioCarousel .show{
  border-radius: 20px;
}

#portfolioCarousel .small-container .show-small-img {
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
  border-radius: 20px;
}

#portfolioCarousel .small-container .show-small-img:last-of-type { margin-right: 0; }


/* FIN CAROUSEL */



.imageEstrellas {
  display: flex;
  margin-top: -120px;
  margin-left: -100px;
}

.imageEstrellas img {
  width: 10pc;
}

@media (max-width: 991px) {
  .imageEstrellas {
    display: none;
  } 
}

#collageGo .btn-wrap a{
  color: black;
}

#collageGo .btn-wrap {
  padding: 10px 25px;
  border-radius: 12px;
  transition: 0.5s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 5px solid #ffbfab;
  background: #ffbfab;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  font-weight: 700;
}

@media (max-width: 991px) {
  #collageGo .btn-wrap {
   margin: 0;
  } 
}

#collageGo .Mini .btn-wrap:hover {
  background: #3959bb;
  border: none;
}

#collageGo .btn-wrap a:hover {
  color: #fff !important;
  text-decoration: none;
}

/* --------- PUNTOS DECORACION --------- */

.portfolioProductos {
  margin-top: 10% !important;
}


.portfolioProductos .imagen .puntos {
 width: 20pc;
}

@media (max-width: 991px) {
  .portfolioProductos .imagen {
    display: none;
  } 
}





